// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.shelter{
    width: 3000px;
    height: 300px;
}
.form-container{
    right: 50rem;
}